<section>
  <div class="card--wrapper">
    <div class="card--info">
      <div>
        <strong>Phone Number:</strong> <span>(424) 341-6543</span>
      </div>
      <div>
        <a class="link" target="_blank" href="https://github.com/zayneio/backend-test-5">View Github Repo</a>
      </div>
    </div>
    <div class="card--main">
      <table class="table">
        <div class="table--inner">
          <thead>
            <tr>
              <td>
                <div class="td--inner">
                  <div class="td--inner_cell table--heading">Call From</div>
                </div>
              </td>
              <td>
                <div class="td--inner">
                  <div class="td--inner_cell table--heading">Action</div>
                </div>
              </td>
              <td>
                <div class="td--inner">
                  <div class="td--inner_cell table--heading">Status</div>
                </div>
              </td>								
              <td>
                <div class="td--inner">
                  <div class="td--inner_cell table--heading">Duration</div>
                </div>
              </td>
              <td>
                <div class="td--inner">
                  <div class="td--inner_cell table--heading">Recording URL</div>
                </div>
              </td>
              <td>
                <div class="td--inner">
                  <div class="td--inner_cell table--heading">Call Made</div>
                </div>
              </td>
            </tr>
          </thead>
          <% @calls.each do |call| %>
            <tr>
              <td>
                <div class="td--inner">
                  <div class="td--inner_cell">
                    <%= call.from %>
                  </div>
				</div>
              </td>
              <td>
                <div class="td--inner">
                  <div class="td--inner_cell">
                    <%= call.action %>
                  </div>
				</div>
              </td>
              <td>
                <div class="td--inner">
                  <div class="td--inner_cell">
                    <%= call.status %>
                  </div>
				</div>
              </td>	
              <td>
                <div class="td--inner">
                  <div class="td--inner_cell">
                    <% unless call.duration.nil? %> 
                      <%= call.duration %> Seconds
                    <% else %>
                      --
                    <% end %>
                  </div>
				</div>
              </td>								
              <td>
                <div class="td--inner">
                  <div class="td--inner_cell">
                    <% unless call.recording_url.nil? %>
                      <a target="_blank" href="<%= call.recording_url %>">Recording URL</a>
                    <% else %>
                      <span>--</span>
                    <% end %>
                  </div>
				</div>
              </td>															
              <td>
                <div class="td--inner">
                  <div class="td--inner_cell">
                    <span class="created-at">
                      <%= call.created_at.strftime("%Y-%m-%dT %H:%M") %>
                    </span>
                  </div>
				</div>
              </td>
            </tr>
          <% end %>
        </div>
      </table>
    </div>
  </div>
</section>